body {
    background-color: pink;
    color: purple;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}

#container {
    margin: 20px;
    background-color: rgb(228, 127, 194);
    padding: 100px;
    box-shadow: 0 0 10px;
    border-radius: 50px;
    margin: 10px auto;
    border: 3px;
}

#main {
    display: flex;
}

#header {
    border: 10px;
    border-color: rgb(190, 71, 190);
    border-radius: 10px;
    text-align: center;
}

#sidebar {
    width: 25%;
    background-color: palevioletred;
    border-radius: 10px;
    padding: 15px;
    border-radius: 8px;    
}

#content {
    width: 70%;
    margin-left: 5%;
}

.post {
    border: 2px;
    background-color: palevioletred;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
}